# Môi trường ảo Python
.venv/
__pycache__/
*.pyc

# Các file logs và cấu hình rác của dbt
logs/
target/
dbt_packages/

profiles.yml

# Bổ sung thêm các trường hợp tên venv khác và file .env
venv/
env/
.env